<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box {
            width: 100px;
            height: 100px;

        }
        .color1 {
            background-color: cadetblue;
        }
        .color2 {
            background-color: #FF7373;
        }
        .color3 {
            background-color: #4671D5;
        }
        [v-cloak] {
            display: none;
        }
        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app" v-cloak> <!--"v-cloak - в сочетании со стилем display: none
                                позволяет скрывать объект до компиляции" -->
    <login-form />
    <input @keyup.enter="greet" v-model="greeting" />

    <hr />
    <button @click.prevent.stop="toggleBox">Show Box</button> <!--"v-on позволяет подключать события к элементу @ = v-on:"-->
    <div v-if="isVisible1" class="box color1"></div> <!--"v-if - Убирает элемент из DOM-->
    <div v-else-if="isVisible2" class="box color2"></div> <!--"v-show - Оставляет элемент в DOM с знчением display: none (Подходит для частой смены условия)"-->
    <!--<div v-else class="box color3"></div>С помощью v-if можно реализовывать разветвлённые условия-->
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
    let app = Vue.createApp({
        data: function () {
            return {
                greeting: 'Hi people!',
                isVisible1: false,
                isVisible2: false,
            }
        },
        methods: {
            toggleBox: function() {
                this.isVisible1 = !this.isVisible1;
            },
            greet() {
                console.log(this.greeting);
            }
        }
    })
    app.component('login-form', {
        template: `
            <form @submit.prevent="handleSubmit">
                <h1>{{ title }}</h1>
                <custom-input v-model="email" v-bind:label="emailLabel"/>
                <custom-input v-model="password" v-bind:label="passwordLabel"/> <!--':label - шорткат UPD: без v-bind: можно передовать строковое значение'-->
                <button type="submit">Login</button>
            </form>
        `,
        components: ['custom-input'],
        data() {
            return {
                title: 'Login Form',
                email: '',
                password: '',
                emailLabel: 'Email',
                passwordLabel: 'Password'
            }
        },
        methods: {
            handleSubmit() {
                //e.preventDefault(); Способ перехватывать системные события (в параметрах функции обязательно указывать приходящее событие)
                console.log("submitted", this.email, this.password);
            }
        }
    })
    app.component('custom-input', {
        template: `
            <label>
                {{ label }}
                <input type="text" v-model="inputValue"/>
            </label>
        `,
        props: [
            'label', // Свойство получаемое из родителя через v-bind
            'modelValue' // Свойство связанное с родиетелем через v-model
        ],
        computed: {
            inputValue: {
                get() { //Подставляет значение из v-model родителя
                    return this.modelValue
                },
                set(value) {
                    this.$emit('update:modelValue', value); //Пробрасывает событие, которе могут слушать другие компоненты и передаёт параметр (первый аргумент - событие, второй - параметр)
                }
            }
        }
        // data() {
        //     return {
        //         inputValue: ''
        //     }
        // }
    })
    app.mount('#app')
</script>
</body>
</html>

<!--
data() {} - Функция, который передаёт объект
methods: {} - Объект, который передаёт функции
computed: {} - Объект, который передаёт функуции / объекты
-->